{% trans_default_domain 'DlinZendeskBundle' %}

<h2>{{ article.title }}</h2>
{{ article.body | raw }}
<p>le {{ article.createdAt|date("d/m/Y") }}</p>
<h3>Articles consultés récemment</h3>
<ul>
    {% for lastArticle in lastRead %}
        <li><a href="{{ path('zendesk_bundle.article_show', { 'idArticle': lastArticle.id }) }}/{{ lastArticle.title|replace({' ': '-'}) }}">{{ lastArticle.title }}</a></li>
    {% endfor %}
</ul>
<p>Vous avez d’autres questions&nbsp;? <a href="{{ path('zendesk_bundle.request_new') }}">Envoyer une demande</a></p>
